/*scroll-behaviour not recog by all browsers*/
html {
scroll-behavior: smooth;
}
.body-font {
font-family:'Lato', sans-serif;
color: #000000; 
}
h2 { font-family: 'Audiowide', cursive;
    margin-top: 50px}
    
.section-padding  {
    padding:0px;
}
.section-header {
    padding-bottom: 33px;
    font-weight: bold;
}

/*nav area*/    
.nav-area {
  margin: 0;
  border-radius: 0;
  background-color: #000000;
  color: #fff;
  border: 0;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.nav-item{
    padding:0 10px;
    color: #fff;
    text-transform: uppercase;
}

/*jumbotron area*/
.jumbotron {
    margin-top: 50px;
    margin-bottom: 0px;
    color: #080808;
}
/*About area 
.about-headings {
    margin-top: 25px;}*/

.about-iframe {
    padding-right: 15px;
    margin-top: 25px;
}
.item-text{
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
}
.justify-text {text-align:justify;
 font-size: 15px;
}
    
/*mp3 area*/

#musicaudio {
    margin-top: 66px;
    margin-bottom: 66px;
    padding-top: 100px;
    padding-bottom:100px;
}
.mp3-area {
    
   background-image:url(images/crowdfaded.jpg);
   background-attachment: fixed;
  /*  -webkit-background-size: cover; */
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    padding-bottom: 25px;
}
.mp3-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(180deg,#000,transparent);
    z-index:-1;
}
.mp3-one{
    color:#fff;
    text-align:center;
    font-weight: bold;
    font-size: 50px;
}
.mp3-two{
    color:#fff;}
.mp3-three{
    color:#fff;}
.mp3-four{
    color:#fff;}
.mp3-five{
    color:#fff;}
.mp3-six {
    color:#fff;}
.famoustracks {
    margin-top: 0px;
    text-align: center;
    
}


/*BUY TICKETS AREA*/
.buytickets-area{
text-align: center;
font-weight: bold;
}
.single-country{
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #000000;
    padding: 30px 15px;
    margin-bottom: 15px;
}
.single-country {
    margin: 15px 0;
    font-size: 20px;
    text-transform: none;
    font-weight: bold; }
.single-country {
    background-image:url(images/flagscrop.jpg);
    background-attachment: fixed;
  /*  -webkit-background-size: contain; */
    background-size: contain;
    background-position: center center;
    position: relative;
    z-index: 1;
}   
.single-country:hover{
    background: #262626;
    color: #fff;
}

/* Gallery Area*/
.bandmembers-area {
    background-image:url(images/bandmembers/woodstockfade.jpg);
    background-attachment: fixed;
   /* -webkit-background-size: cover; */
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.gallery-header
{
    color:#000000;
    font-weight: bold;
}
.maingallery-image {
    padding-top: 66px;
    padding-bottom: 66px;
}


/*contact area*/
.contact-area{
    position: relative;
    background-image: url(images/faded.jpg);
   /* -webkit-background-size: cover; */
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align: center;
}
/*footer area*/
.footer-area .section-padding {padding-left: 15px;
}
footer {
    background-color: #000000;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    font-family: 'Audiowide', cursive; 
    text-align: center;
}
footer ul li a {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:#fafafa;
    letter-spacing: 30px;
    padding-top: 10px;
} 
.social-media .section-padding {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    font-weight: bold;
    color: #1da1f2;
    font-size: 10em;
    text-align: center
}


@media only screen and (max-width: 600px) {
  .nav-area {
    font-size: 12px; 
  }
}
@media only screen and (min-width:1000px) {
.carousel-item {
    height:666px;}
} 
@media only screen and (max-width: 600px) {
.about-iframe {
    padding-right: 0px;}
.item-text{
    padding-left: 0px;
    } 
}
@media only screen and (max-width: 600px) {
  #musicaudio {
    padding: 0px;
  }
}
@media only screen and (min-width: 600px) {
  .bandmembers-area {
  margin-top: 20px;
    }
}
@media only screen and (min-width:501px) {
.poster-image2 { 
  border-radius:8px;
  border: 150px solid black;
  display:none;
    }
}
@media only screen and (max-width:500px) {
.poster-image1 { border-radius:8px;
 display:none; }
}
@media screen and (max-width: 1000px) {
  .ipadpro-img   {  display:none;      
    }
}
@media screen and (max-width: 1200px) {
  .xl-img   {  display:none;   
    }
}





