body {
font-family: 'Lato', sans-serif;
}

    
.nav-area {
  margin: 0;
  border-radius: 0;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0;
  
  border: 0;
}
.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
    color: #fff;
    font-size: 1.25em;
     }
.nav-item{
    padding:0 20px;
    color: #fff;
    text-transform: uppercase;
}
/*about section*/
.section-header{
    margin-top: 30px;
    font-weight: bold;
}
.about-img {
    padding-right: 15px;}
.item-text{
    padding-left: 15px;
}
.item-text h3{
    margin-bottom:15px;}
    
/*mp3 area*/

.mp3-area {
    background-image:url(images/black.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.mp3-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(180deg,#000,transparent);
    z-index:-1;
}
    
.mp3-one{
    color:#fff;
    text-align:center;
}
.mp3-one audio{
    margin-bottom: 20px;
}

.mp3-one h3 {
    font-weight: bold;
    font-size: 50px;
}



}
    






.buytickets-area{
    text-align: center;
}
.single-country{
    border: 1px solid #000000;
    padding: 30px 20px;
    margin-bottom: 15px;
}
.single-country h3{
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.single-country:hover{
    background: #262626;
    color: #fff;
    transition: .6s;
}

.contact-area{
    position: relative;
    background-image: url(images/who.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align: center;
    
    
}

.band-roger img{
    width: 100%
}
.band-roger {
    margin-bottom: 30px;
}
.bandmembers-area .section-padding{
    padding-bottom: 30px;
}
}